* {
  box-sizing: border-box; }

.body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 29px; }
  .body a,
  .body a:hover {
    text-decoration: none;
    color: #fff; }
  .body ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .body .btn_main {
    display: inline-block;
    background: #F15B7D;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    padding: 9px 26px;
    outline: none;
    z-index: 100; }
  .body .btn_secondary {
    display: inline-block;
    border: 2px solid #F15B7D;
    border-radius: 5px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    padding: 7px 26px;
    color: #F15B7D;
    transition: .3s; }
    .body .btn_secondary:hover {
      color: #F15B7D; }
  .body .slick-dots li.slick-active button:before {
    opacity: .75;
    font-size: 16px;
    color: #F15B7D; }
  .body .slick-dots li button:before {
    font-size: 16px; }

section {
  padding-top: 100px;
  padding-bottom: 100px;
  overflow-x: hidden; }

.section_title {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px; }

.section_subtitle {
  font-size: 27px;
  line-height: 33px; }

.logo {
  font-weight: bold;
  font-size: 28.3636px;
  line-height: 29px;
  color: #fff; }

.messengers_box a {
  display: inline-block; }

.messengers_box img {
  width: 34px; }

::-webkit-scrollbar {
  width: 12px; }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }
  ::-webkit-scrollbar-thumb {
    height: 30vh;
    border-radius: 10px;
    background-color: #ed2c58;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

@media (min-width: 576px) {
  .messengers_box {
    text-align: end; }
    .messengers_box a + a {
      margin-left: 10px; }
    .messengers_box img {
      width: 34px; } }

@media (max-width: 991px) {
  .logo {
    font-size: 20.5348px;
    line-height: 103.4%; } }

@media (max-width: 575px) {
  .body {
    font-size: 16px;
    line-height: 25px; }
    .body .btn_main {
      text-align: center;
      max-width: 346px;
      width: 100%; }
    .body .slick-dots li button:before {
      font-size: 8px; }
  .section_subtitle,
  .section_title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px; }
  section {
    padding-top: 70px;
    padding-bottom: 70px; } }

.index_page {
  background: url(../assets/intro.jpg) no-repeat 0 0;
  background-size: cover; }

.model_page {
  background: url(../assets/vacancy_model.jpg) no-repeat 0 20%;
  background-size: cover; }

.admin_page {
  background: url(../assets/vacancy_admin.jpg) no-repeat 0 20%;
  background-size: cover; }

.mass_page {
  background: url(../assets/vacancy_mass.jpg) no-repeat 0 20%;
  background-size: cover; }

@media (max-width: 575px) {
  .index_page {
    background-position: 58%; }
  .admin_page {
    background-position: 40%; }
  .model_page {
    background-position: 46%; }
  .mass_page {
    background-position: 42%; } }

.section_intro {
  padding-top: 33px;
  height: 100vh;
  padding: 50px 112px; }
  .section_intro .vacancy_title {
    font-weight: bold;
    font-size: 90.8876px;
    /* identical to box height, or 107px */
    line-height: 117.4%;
    color: #FFFFFF; }
  .section_intro header .menu_list .menu_item {
    font-size: 21px;
    line-height: 26px;
    transition: .3s; }
    .section_intro header .menu_list .menu_item:hover .item_link {
      color: #F15B7D; }
  .section_intro header .phone_number {
    padding: 0;
    font-weight: 500;
    font-size: 21px;
    line-height: 26px; }
    .section_intro header .phone_number img {
      margin-right: 10px; }
  .section_intro .preview_box {
    margin-top: 18vh; }
    .section_intro .preview_box .preview_subtitle {
      font-weight: 500;
      font-size: 31.1479px;
      line-height: 103.4%;
      text-align: center;
      color: #fff;
      letter-spacing: 0.1em;
      margin-bottom: 7px; }
    .section_intro .preview_box .preview_title {
      font-weight: bold;
      font-size: 60px;
      line-height: 103.4%;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 16px; }
    .section_intro .preview_box .preview_buttons {
      text-align: center; }
      .section_intro .preview_box .preview_buttons a + a {
        margin-left: 13px; }
      .section_intro .preview_box .preview_buttons a {
        font-size: 18px;
        line-height: 22px; }
  @media (min-width: 576px) {
    .section_intro header .menu_list li + li {
      margin-left: 44px; }
    .section_intro header #toggle,
    .section_intro header .toggle_button {
      display: none; } }
  @media (min-width: 576px) and (max-width: 1199px) {
    .section_intro {
      background-position: 38% 0;
      background-size: cover; }
      .section_intro header .logo {
        padding: 0; }
      .section_intro header .phone_number {
        position: absolute;
        bottom: 25px;
        right: 25px;
        font-size: 16px;
        line-height: 20px; }
        .section_intro header .phone_number img {
          margin-right: 6px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .section_intro {
      height: 85vh; } }
  @media (max-width: 1199px) {
    .section_intro {
      padding: 46px 0px 25px;
      position: relative; }
      .section_intro nav {
        padding: 0; }
      .section_intro header .menu_list .menu_item {
        font-size: 16px;
        line-height: 20px; }
      .section_intro header .logo {
        font-size: 20.5348px;
        line-height: 103.4%; }
      .section_intro .preview_box {
        position: absolute;
        bottom: 96px; }
      .section_intro .vacancy_title {
        font-size: 60px; } }
  @media (max-width: 991px) {
    .section_intro {
      height: 79vh; } }
  @media (max-width: 575px) {
    .section_intro {
      height: 94vh; }
      .section_intro header .phone_number {
        padding-left: 20px; }
      .section_intro #toggle {
        display: block;
        position: absolute;
        right: 0px;
        visibility: hidden; }
      .section_intro #toggle:checked ~ #menu {
        right: 20px;
        top: 80px;
        padding: 43px 63px;
        opacity: 1; }
      .section_intro #toggle:checked ~ .toggle_button .item_top {
        width: 45%; }
      .section_intro #toggle:checked ~ .toggle_button .item_bot {
        width: 100%; }
      .section_intro #menu {
        position: fixed;
        top: -300px;
        right: -330px;
        opacity: 0;
        background-color: #fff;
        border-radius: 22px 0px 22px 22px;
        z-index: 150;
        transition: .3s ease-out; }
        .section_intro #menu li + li {
          margin-top: 32px; }
        .section_intro #menu .item_link {
          color: #F15B7D;
          font-weight: 600;
          font-size: 25px;
          line-height: 103.4%;
          /* identical to box height, or 26px */ }
      .section_intro .toggle_button {
        position: absolute;
        top: 0px;
        right: 20px;
        height: 20px;
        width: 26px;
        z-index: 101; }
        .section_intro .toggle_button span {
          display: block;
          position: absolute;
          background-color: #fff;
          height: 3px;
          right: 0;
          border-radius: 1px;
          transition: .3s; }
        .section_intro .toggle_button .item_top {
          width: 100%; }
        .section_intro .toggle_button .item_mid {
          width: 75%;
          margin-top: 8px; }
        .section_intro .toggle_button .item_bot {
          width: 45%;
          margin-top: 16px; }
      .section_intro .preview_box .preview_subtitle {
        font-size: 18.4723px;
        line-height: 103.4%;
        /* or 19px */
        letter-spacing: 0.13em; }
      .section_intro .preview_box .preview_title {
        font-size: 36px;
        line-height: 103.4%;
        /* or 37px */ }
      .section_intro .vacancy_title {
        font-size: 24px; } }

.section_contacts {
  padding: 75px 0;
  background-color: #F15B7D;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  position: relative; }
  .section_contacts .section_subtitle {
    font-weight: 600;
    color: #fff; }
  .section_contacts .figure_bouble-1 {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.13);
    left: 64px;
    top: 40px; }
  .section_contacts .figure_bouble-2 {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.13);
    left: 144px;
    top: 95px; }
  .section_contacts .figure_bouble-3 {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.13);
    right: 224px;
    top: 105px; }
  .section_contacts .figure_bouble-4 {
    position: absolute;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.13);
    right: -20px;
    top: 23px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .section_contacts {
      min-height: 15vh; } }
  @media (max-width: 991px) {
    .section_contacts {
      min-height: 21vh; } }
  @media (max-width: 575px) {
    .section_contacts {
      padding: 40px 0; }
      .section_contacts .section_subtitle {
        font-size: 22px;
        line-height: 27px;
        text-align: center;
        margin-bottom: 16px; }
      .section_contacts .messengers_box {
        display: flex;
        justify-content: space-around; } }

.section_promo {
  background: url(../assets/promo.jpg) no-repeat 50% 100%;
  background-size: cover; }
  .section_promo .section_title {
    color: #fff; }
    .section_promo .section_title span {
      color: #F15B7D; }
  .section_promo .promo_text {
    font-weight: 500;
    line-height: 27px;
    color: rgba(51, 51, 51, 0.9); }
  @media (min-width: 1200px) {
    .section_promo {
      min-height: 100vh; }
      .section_promo .section_title {
        margin-top: 9vh; }
      .section_promo .promo_text {
        margin-top: 28vh; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .section_promo {
      padding: 150px 0;
      min-height: 768px; } }
  @media (min-width: 576px) and (max-width: 1199px) {
    .section_promo {
      background: url(../assets/promo.jpg) no-repeat 46% 100%;
      background-size: cover; }
      .section_promo .promo_text {
        margin-top: 28px; } }
  @media (max-width: 991px) {
    .section_promo {
      min-height: 680px; } }
  @media (max-width: 575px) {
    .section_promo {
      background-position: 35% 100%; }
      .section_promo .section_title {
        margin-bottom: 65px; }
      .section_promo .promo_text {
        font-size: 16px;
        line-height: 140.9%;
        /* or 23px */ } }

.section_advantages {
  padding-bottom: 13px;
  position: relative; }
  .section_advantages .section_title {
    text-align: center;
    color: #F15B7D;
    margin-bottom: 100px; }
  .section_advantages .advantages_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 30px;
    margin-bottom: 87px; }
    .section_advantages .advantages_item__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.21);
      margin-bottom: 47px; }
    .section_advantages .advantages_item__title {
      margin-bottom: 16px; }
    .section_advantages .advantages_item__description {
      text-align: center; }
  .section_advantages .figure_bouble-1 {
    position: absolute;
    width: 176px;
    height: 176px;
    border-radius: 50%;
    background-color: rgba(251, 130, 165, 0.18);
    left: -67px;
    top: 78px; }
  .section_advantages .figure_bouble-2 {
    position: absolute;
    width: 176px;
    height: 176px;
    border-radius: 50%;
    background-color: rgba(251, 130, 165, 0.18);
    right: -69px;
    top: 382px; }
  .section_advantages .figure_bouble-3 {
    position: absolute;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background-color: rgba(251, 130, 165, 0.18);
    left: -67px;
    bottom: 265px; }
  @media (max-width: 991px) {
    .section_advantages {
      padding-bottom: 100px; }
      .section_advantages .advantages_item {
        margin-top: 20px;
        width: 370px;
        margin-bottom: 40px; }
      .section_advantages .figure_bouble-2 {
        top: -55px; }
      .section_advantages .figure_bouble-3 {
        left: 73px;
        bottom: 33px; } }

.section_about {
  background: #F79BBC;
  position: relative; }
  .section_about .text_box .section_title {
    color: #fff;
    margin-bottom: 12px; }
  .section_about .text_box__description {
    color: #5C031C;
    margin-bottom: 28px; }
  .section_about .about_img_1 {
    position: absolute;
    width: 583px;
    left: -62px;
    bottom: 0; }
  .section_about .about_img_2 {
    position: absolute;
    width: 424px;
    right: 0;
    bottom: 0; }
  .section_about .figure_bouble-1 {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.13);
    top: 51px;
    left: 71px; }
  .section_about .figure_bouble-2 {
    position: absolute;
    width: 134px;
    height: 134px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.13);
    top: 127px;
    left: 472px; }
  .section_about .figure_bouble-3 {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.13);
    top: 95px;
    right: 183px; }
  .section_about .figure_bouble-4 {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.13);
    top: 34px;
    right: 95px; }
  @media (max-width: 1199px) {
    .section_about .about_img_2 {
      width: 387px; } }
  @media (max-width: 575px) {
    .section_about {
      padding-bottom: 260px; } }

.section_vacancies .section_title {
  color: #F15B7D; }

.section_vacancies .text_color {
  padding: 0 15px;
  background-color: #F15B7D;
  color: #fff; }

.section_vacancies .vacancies_item {
  display: block;
  overflow: hidden;
  margin-top: 70px;
  transition: .3s; }
  .section_vacancies .vacancies_item__title {
    font-weight: 600;
    margin-bottom: 20px; }
  .section_vacancies .vacancies_item__description {
    line-height: 22px; }
  .section_vacancies .vacancies_item .vacancies_item__photo {
    height: 336px;
    margin-bottom: 20px;
    padding: 23px 28px;
    transition: .3s;
    position: relative; }
    .section_vacancies .vacancies_item .vacancies_item__photo .btn_main {
      text-align: center; }
    .section_vacancies .vacancies_item .vacancies_item__photo[vacancy="model"] {
      background: url(../assets/vacancy_model.jpg) no-repeat 50% 0;
      background-size: cover; }
    .section_vacancies .vacancies_item .vacancies_item__photo[vacancy="admin"] {
      background: url(../assets/vacancy_admin.jpg) no-repeat 50% 0;
      background-size: cover; }
    .section_vacancies .vacancies_item .vacancies_item__photo[vacancy="mass"] {
      background: url(../assets/vacancy_mass.jpg) no-repeat 43% 0;
      background-size: cover; }
  .section_vacancies .vacancies_item:hover {
    color: #5C031C; }
    .section_vacancies .vacancies_item:hover .vacancies_item__photo {
      border: 5px solid #F15B7D; }
      .section_vacancies .vacancies_item:hover .vacancies_item__photo::after {
        -webkit-backdrop-filter: grayscale(0%);
        backdrop-filter: grayscale(0%); }
    .section_vacancies .vacancies_item:hover .btn_main {
      text-align: center;
      opacity: 1; }

@media (min-width: 576px) {
  .section_vacancies .vacancies_item__photo::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: grayscale(30%);
    backdrop-filter: grayscale(100%); } }

@media (max-width: 991px) {
  .section_vacancies .vacancies_item {
    width: 340px;
    margin: 50px 62px; } }

.section_vacancy .list_box__title {
  font-weight: 600;
  color: rgba(51, 51, 51, 0.9);
  margin-bottom: 20px; }

.section_vacancy .list_box__list {
  font-weight: 500;
  color: rgba(51, 51, 51, 0.9); }
  .section_vacancy .list_box__list li {
    background: url(../assets/svg/check_marker.svg) no-repeat 0 4px;
    padding-left: 30px; }

.section_vacancy .text_box__title {
  color: #F15B7D;
  margin-bottom: 36px; }

.section_vacancy .text_box__description {
  margin-bottom: 36px; }

@media (min-width: 992px) {
  .section_vacancy .list_box + .list_box {
    margin-top: 50px; }
  .section_vacancy .list_box {
    flex: 0; } }

@media (min-width: 576px) and (max-width: 991px) {
  .section_vacancy .list_box {
    margin-bottom: 50px; } }

@media (max-width: 575px) {
  .section_vacancy .list_box + .list_box {
    margin-top: 44px; }
  .section_vacancy .text_box {
    border-bottom: 1px solid #B4B4B4;
    padding-bottom: 42px;
    margin-bottom: 34px; }
    .section_vacancy .text_box__title {
      margin-bottom: 20px; } }

.section_anketa {
  background: url(../assets/anketa.jpg) no-repeat 50% 0;
  background-size: cover;
  position: relative;
  overflow: hidden; }
  .section_anketa .section_title {
    color: #F15B7D;
    margin-bottom: 4px; }
  .section_anketa .anketa_subtitle {
    font-size: 18px;
    line-height: 22px;
    color: rgba(92, 3, 28, 0.9);
    margin-bottom: 20px; }
  .section_anketa .form_box {
    background: rgba(236, 236, 236, 0.94);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.47);
    border-radius: 10px;
    padding: 46px 28px 30px;
    margin-bottom: 24px; }
  .section_anketa .form_text {
    padding-left: 8px;
    font-size: 16px;
    line-height: 20px;
    color: rgba(92, 3, 28, 0.9);
    margin-bottom: 1px; }
  .section_anketa .input,
  .section_anketa .textarea {
    background: rgba(255, 255, 255, 0.9);
    color: rgba(92, 3, 28, 0.9);
    border-radius: 10px;
    border: none;
    padding: 9px 12px;
    resize: none;
    outline: none;
    margin-bottom: 16px; }
  .section_anketa .response {
    display: none;
    flex-direction: column;
    align-items: center;
    background: #F15B7D;
    position: absolute;
    max-width: 488px;
    margin-left: -244px;
    left: 50%;
    top: -400px;
    opacity: 0.5;
    border-radius: 10px;
    padding: 125px 90px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.47); }
    .section_anketa .response img {
      filter: drop-shadow(2px 10px 30px rgba(0, 0, 0, 0.33));
      margin-bottom: 24px; }
    .section_anketa .response #response_text {
      font-weight: 600;
      font-size: 20px;
      line-height: 158.4%;
      color: #FFFFFF; }
  .section_anketa .show {
    display: flex; }
  @media (min-width: 576px) {
    .section_anketa {
      height: 878px; } }
  @media (max-width: 575px) {
    .section_anketa {
      min-height: 100vh; }
      .section_anketa .form_box {
        padding-right: 14px;
        padding-left: 14px; }
      .section_anketa .response {
        max-width: 320px;
        margin-left: -160px;
        left: 50%;
        padding: 50px 20px; }
        .section_anketa .response #response_text {
          text-align: center; } }

.section_footer {
  padding: 50px 0;
  background: #F15B7D; }
  .section_footer .line {
    background-color: rgba(255, 255, 255, 0.55);
    margin-top: 32px;
    margin-bottom: 38px; }
  @media (min-width: 992px) {
    .section_footer .menu_list li + li {
      margin-left: 100px; } }
  @media (min-width: 576px) and (max-width: 1199px) {
    .section_footer {
      position: relative; }
      .section_footer .messengers_box {
        position: absolute;
        top: 50px;
        right: 24px; } }
  @media (max-width: 575px) {
    .section_footer .line {
      margin-bottom: 13px; }
    .section_footer .menu_list {
      height: 73px;
      flex-wrap: wrap; }
    .section_footer .mail_contact img {
      width: 16px;
      margin-right: 5px; }
    .section_footer .messengers_box {
      text-align: center; }
      .section_footer .messengers_box a + a {
        margin-top: 10px; } }
