// ---------------------------------------------------------- mixins
@mixin figure_bubble ($diameter, $bg_color) {
    position: absolute;
    width: $diameter;
    height: $diameter;
    border-radius: 50%;
    background-color: $bg_color;
}

// ========================================================== / mixins
// ---------------------------------------------------------- variables
$screen_xs_max: 575px;
$screen_sm_max: 767px;
$screen_md_max: 991px;
$screen_lg_max: 1199px;
$screen_sm: 576px;
$screen_md: 768px;
$screen_lg: 992px;
$screen_xl: 1200px;
$brand_main_color: #F15B7D;
// ========================================================== / variables
// ---------------------------------------------------------- commons
* {
    box-sizing: border-box;
}

.body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 29px;
    a,
    a:hover {
        text-decoration: none;
        color: #fff;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .btn_main {
        display: inline-block;
        background: $brand_main_color;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
        padding: 9px 26px;
        outline: none;
        z-index: 100;
    }
    .btn_secondary {
        display: inline-block;
        border: 2px solid $brand_main_color;
        border-radius: 5px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
        padding: 7px 26px;
        color: $brand_main_color;
        transition: .3s;
        &:hover {
            color: $brand_main_color;
        }
    }
    .slick-dots {
        li.slick-active button:before {
            opacity: .75;
            font-size: 16px;
            color: $brand_main_color;
        }
        li button:before {
            font-size: 16px;
        }
    }
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
    overflow-x: hidden;
}

.section_title {
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
}

.section_subtitle {
    font-size: 27px;
    line-height: 33px;
}

.logo {
    font-weight: bold;
    font-size: 28.3636px;
    line-height: 29px;
    color: #fff;
}

.messengers_box {
    text-align: end;
    img+img {
        margin-left: 10px;
    }
    img {
        width: 34px;
    }
}

::-webkit-scrollbar {
    width: 12px;
    &-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
    &-thumb {
        height: 30vh;
        border-radius: 10px;
        background-color: darken($brand_main_color, 10%);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
}

@media (max-width: $screen_md_max) {
    .logo {
        font-size: 20.5348px;
        line-height: 103.4%;
    }
}

// ========================================================== / commons
// ---------------------------------------------------------- section_intro
.section_intro {
    padding-top: 33px;
    height: 100vh;
    padding: 50px 112px;
    .vacancy_title {
        font-weight: bold;
        font-size: 90.8876px;
        /* identical to box height, or 107px */
        line-height: 117.4%;
        color: #FFFFFF;
    }
}

.index_page {
    background: url(../assets/intro.jpg) no-repeat 0 0;
    background-size: cover;
}

.model_page {
    background: url(../assets/vacancy_model.jpg) no-repeat 0 20%;
    background-size: cover;
}

.admin_page {
    background: url(../assets/vacancy_admin.jpg) no-repeat 0 20%;
    background-size: cover;
}

.mass_page {
    background: url(../assets/vacancy_mass.jpg) no-repeat 0 20%;
    background-size: cover;
}

header {
    .menu_list {
        li+li {
            margin-left: 44px;
        }
        .menu_item {
            font-size: 21px;
            line-height: 26px;
            transition: .3s;
            &:hover {
                .item_link {
                    color: $brand_main_color;
                }
            }
        }
    }
    .phone_number {
        padding: 0;
        text-align: end;
        font-weight: 500;
        font-size: 21px;
        line-height: 26px;
        img {
            margin-right: 10px;
        }
    }
}

.preview_box {
    margin-top: 18vh;
    .preview_subtitle {
        font-weight: 500;
        font-size: 31.1479px;
        line-height: 103.4%;
        text-align: center;
        color: #fff;
        letter-spacing: 0.1em;
        margin-bottom: 7px;
    }
    .preview_title {
        font-weight: bold;
        font-size: 60px;
        line-height: 103.4%;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 16px;
    }
    .preview_buttons {
        text-align: center;
        a+a {
            margin-left: 13px;
        }
        a {
            font-size: 18px;
            line-height: 22px;
        }
    }
}

@media (min-width: $screen_lg) and (max-width: $screen_lg_max) {
    .section_intro {
        height: 85vh;
    }
}

@media (max-width: $screen_lg_max) {
    .section_intro {
        background-position: 38% 0;
        background-size: cover;
        padding: 46px 0px 25px;
        position: relative;
        nav {
            padding: 0;
        }
        header {
            .menu_list .menu_item {
                font-size: 16px;
                line-height: 20px;
            }
            .phone_number {
                position: absolute;
                bottom: 25px;
                right: 25px;
                font-size: 16px;
                line-height: 20px;
                img {
                    margin-right: 6px;
                }
            }
            .logo {
                padding: 0;
                font-size: 20.5348px;
                line-height: 103.4%;
            }
        }
        .preview_box {
            position: absolute;
            bottom: 96px;
        }
        .vacancy_title {
            font-size: 60px;
        }
    }
}

@media (max-width: $screen_md_max) {
    .section_intro {
        height: 79vh;
    }
}

// ========================================================== / section_intro
// ---------------------------------------------------------- section_contacts
.section_contacts {
    padding: 75px 0;
    background-color: $brand_main_color;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    position: relative;
    .section_subtitle {
        font-weight: 600;
        color: #fff;
    }
    .figure_bouble-1 {
        @include figure_bubble(64px, rgba(255, 255, 255, 0.13));
        left: 64px;
        top: 40px;
    }
    .figure_bouble-2 {
        @include figure_bubble(32px, rgba(255, 255, 255, 0.13));
        left: 144px;
        top: 95px;
    }
    .figure_bouble-3 {
        @include figure_bubble(32px, rgba(255, 255, 255, 0.13));
        right: 224px;
        top: 105px;
    }
    .figure_bouble-4 {
        @include figure_bubble(57px, rgba(255, 255, 255, 0.13));
        right: -20px;
        top: 23px;
    }
    @media (min-width: $screen_lg) and (max-width: $screen_lg_max) {
        min-height: 15vh;
    }
    @media (max-width: $screen_md_max) {
        min-height: 21vh;
    }
}

// ========================================================== / section_contacts
// ---------------------------------------------------------- section_promo
.section_promo {
    background: url(../assets/promo.jpg) no-repeat 50% 100%;
    background-size: cover;
    // padding: 13vh 0;
    .section_title {
        color: #fff;
        span {
            color: $brand_main_color;
        }
    }
    .promo_text {
        font-weight: 500;
        line-height: 27px;
        color: rgba(51, 51, 51, 0.9);
    }
    @media (min-width: $screen_xl) {
        min-height: 100vh;
        .section_title {
            margin-top: 9vh;
        }
        .promo_text {
            margin-top: 28vh;
        }
    }
    @media (min-width: $screen_lg) and (max-width: $screen_lg_max) {
        padding: 150px 0;
        min-height: 768px;
    }
    @media (max-width: $screen_lg_max) {
        background: url(../assets/promo.jpg) no-repeat 46% 100%;
        background-size: cover;
        .promo_text {
            margin-top: 28px;
        }
    }
    @media (max-width: $screen_md_max) {
        min-height: 680px;
    }
}

// ========================================================== / section_promo
// ---------------------------------------------------------- section_advantages
.section_advantages {
    padding-bottom: 13px;
    position: relative;
    .section_title {
        text-align: center;
        color: $brand_main_color;
        margin-bottom: 100px;
    }
    .advantages_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
        margin-bottom: 87px;
        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 64px;
            height: 64px;
            border-radius: 50%;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.21);
            margin-bottom: 47px;
        }
        &__title {
            margin-bottom: 16px;
        }
        &__description {
            text-align: center;
        }
    }
    .figure_bouble-1 {
        @include figure_bubble(176px, rgba(251, 130, 165, 0.18));
        left: -67px;
        top: 78px;
    }
    .figure_bouble-2 {
        @include figure_bubble(176px, rgba(251, 130, 165, 0.18));
        right: -69px;
        top: 382px;
    }
    .figure_bouble-3 {
        @include figure_bubble(105px, rgba(251, 130, 165, 0.18));
        left: -67px;
        bottom: 265px;
    }
    @media (max-width: $screen_md_max) {
        padding-bottom: 100px;
        .advantages_item {
            margin-top: 20px;
            width: 370px;
            margin-bottom: 40px;
        }
        .figure_bouble-2 {
            top: -55px;
        }
        .figure_bouble-3 {
            left: 73px;
            bottom: 33px;
        }
    }
}

// ========================================================== / section_advantages
// ---------------------------------------------------------- section_about
.section_about {
    background: #F79BBC;
    position: relative;
    .text_box {
        .section_title {
            color: #fff;
            margin-bottom: 12px;
        }
        &__description {
            color: #5C031C;
            margin-bottom: 28px;
        }
    }
    .about_img_1 {
        position: absolute;
        width: 583px;
        left: -62px;
        bottom: 0;
    }
    .about_img_2 {
        position: absolute;
        width: 424px;
        right: 0;
        bottom: 0;
    }
    .figure_bouble-1 {
        @include figure_bubble(64px, rgba(255, 255, 255, 0.13));
        top: 51px;
        left: 71px;
    }
    .figure_bouble-2 {
        @include figure_bubble(134px, rgba(255, 255, 255, 0.13));
        top: 127px;
        left: 472px;
    }
    .figure_bouble-3 {
        @include figure_bubble(32px, rgba(255, 255, 255, 0.13));
        top: 95px;
        right: 183px;
    }
    .figure_bouble-4 {
        @include figure_bubble(64px, rgba(255, 255, 255, 0.13));
        top: 34px;
        right: 95px;
    }
    @media (max-width: $screen_lg_max) {
        .about_img_2 {
            width: 387px;
        }
    }
}

// ========================================================== / section_about    
// ---------------------------------------------------------- section_vacancies
.section_vacancies {
    .section_title {
        color: $brand_main_color;
    }
    .text_color {
        display: inline-block;
        padding: 0 15px;
        background-color: $brand_main_color;
        color: #fff;
    }
    .vacancies_item {
        display: block;
        overflow: hidden;
        margin-top: 70px;
        transition: .3s;
        &__title {
            font-weight: 600;
            margin-bottom: 20px;
        }
        &__description {
            line-height: 22px;
        }
        .vacancies_item__photo {
            height: 336px;
            margin-bottom: 20px;
            padding: 23px 28px;
            transition: .3s;
            position: relative;
            .btn_main {
                text-align: center;
                opacity: 0;
            }
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                -webkit-backdrop-filter: grayscale(30%);
                backdrop-filter: grayscale(100%);
            }
            &[vacancy="model"] {
                background: url(../assets/vacancy_model.jpg) no-repeat 50% 0;
                background-size: cover;
            }
            &[vacancy="admin"] {
                background: url(../assets/vacancy_admin.jpg) no-repeat 50% 0;
                background-size: cover;
            }
            &[vacancy="mass"] {
                background: url(../assets/vacancy_mass.jpg) no-repeat 43% 0;
                background-size: cover;
            }
        }
        &:hover {
            color: #5C031C;
            .vacancies_item__photo {
                border: 5px solid #F15B7D;
                &::after {
                    -webkit-backdrop-filter: grayscale(0%);
                    backdrop-filter: grayscale(0%);
                }
            }
            .btn_main {
                text-align: center;
                opacity: 1;
            }
        }
    }
    @media (max-width: $screen_md_max) {
        .vacancies_item {
            width: 340px;
            margin: 50px 62px;
        }
    }
}

// ========================================================== / section_vacancies
// ---------------------------------------------------------- section_vacancy
.section_vacancy {
    .list_box__title {
        font-weight: 600;
        color: rgba(51, 51, 51, 0.9);
        margin-bottom: 20px;
    }
    .list_box__list {
        font-weight: 500;
        color: rgba(51, 51, 51, 0.9);
        li {
            background: url(../assets/svg/check_marker.svg) no-repeat 0 40%;
            padding-left: 30px;
        }
    }
    .text_box {
        &__title {
            color: $brand_main_color;
            margin-bottom: 36px;
        }
        &__description {
            margin-bottom: 36px;
        }
        // &__button {}
    }
    @media (min-width: $screen_lg) {
        .list_box+.list_box {
            margin-top: 50px;
        }
        .list_box {
            flex: 0;
        }
    }
    @media (max-width: $screen_md_max) {
        .list_box {
            margin-bottom: 50px;
        }
    }
}

// ========================================================== / section_vacancy
// ---------------------------------------------------------- section_anketa
.section_anketa {
    background: url(../assets/anketa.jpg) no-repeat 50% 0;
    background-size: cover;
    height: 878px;
    position: relative;
    overflow: hidden;
    .section_title {
        color: $brand_main_color;
        margin-bottom: 4px;
    }
    .anketa_subtitle {
        font-size: 18px;
        line-height: 22px;
        color: rgba(92, 3, 28, 0.9);
        margin-bottom: 20px;
    }
    .form_box {
        background: rgba(236, 236, 236, 0.94);
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.47);
        border-radius: 10px;
        padding: 46px 28px 30px;
        margin-bottom: 24px;
    }
    .form_text {
        padding-left: 8px;
        font-size: 16px;
        line-height: 20px;
        color: rgba(92, 3, 28, 0.9);
        margin-bottom: 1px;
    }
    .input {
        margin-bottom: 16px;
    }
    .input,
    .textarea {
        background: rgba(255, 255, 255, 0.9);
        color: rgba(92, 3, 28, 0.9);
        border-radius: 10px;
        border: none;
        padding: 9px 12px;
        resize: none;
        outline: none;
    }
    .response {
        display: none;
        flex-direction: column;
        align-items: center;
        background: $brand_main_color;
        position: absolute;
        max-width: 488px;
        margin-left: -244px;
        left: 50%;
        top: -400px;
        opacity: 0.5;
        border-radius: 10px;
        padding: 125px 90px;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.47);
        img {
            filter: drop-shadow(2px 10px 30px rgba(0, 0, 0, 0.33));
            margin-bottom: 24px;
        }
        #response_text {
            font-weight: 600;
            font-size: 20px;
            line-height: 158.4%;
            color: #FFFFFF;
        }
    }
    .show {
        display: flex;
    }
}

// ========================================================== / section_anketa    
// ---------------------------------------------------------- section_footer
.section_footer {
    padding: 50px 0;
    background: $brand_main_color;
    .line {
        background-color: rgba(255, 255, 255, 0.55);
        margin-top: 32px;
        margin-bottom: 38px;
    }
    @media (min-width: $screen_lg) {
        .menu_list {
            li+li {
                margin-left: 100px;
            }
        }
    }
    @media (min-width: $screen_sm) and (max-width: $screen_lg_max) {
        position: relative;
        .messengers_box {
            position: absolute;
            top: 50px;
            right: 33px;
        }
    }
}

// ========================================================== / section_footer